div(class="chat-window")
   div(class="chat-window-header")
      div(class="chat-window-name")
         |{{NAME}}
      div(class="chat-window-options")
         button(class="btn btn-circle btn-remove-window")
            span(class="glyphicon glyphicon-remove")
   div(class="chat-window-messages-wrapper")
      div(class="chat-window-messages")
         
         //div(class="chat-message chat-message-me|other")
            span(class="chat-message-stamp")
               |14/09/2014 15:31:33 you said:
            span(class="chat-message-content")
               |This is a test message
            
   div(class="chat-window-input")
      textarea(class="chat-input")